header img {margin: 0%; width: 100%;}
footer {margin: 0%; box-sizing: border-box; background-color: gray; height: 250px;}
footer img {border: 10px solid rgb(77, 77, 77); border-radius: 50%; margin-left: 5%; margin-right: 5%; margin-top: 5%; margin-bottom: 5%; display: inline-block; width: 20%;}