@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Nunito+Sans:opsz,wght@6..12,300&family=Playpen+Sans:wght@200&family=Skranji&family=Work+Sans:ital@1&display=swap');
#content {max-width: 1600px; margin: 0;}
#logo_link {padding-top: 5px; justify-self: center; align-self: center;}
nav {display: flex; justify-content: space-around; font-family: "Playpen Sans", "Noto Sans", sans-serif; margin-top: 0;}
nav a {margin: 0; text-align: center; color: #edd9ae; padding: 35px; text-decoration: none;}
nav a:hover {text-align: center; background-color: #036d19; color: #edd9ae; padding: 35px; text-decoration: none;}
#hero {display: grid; grid-template-columns: 1fr 3fr 1fr; font-family: "Playpen Sans", "Noto Sans", sans-serif; color: #cea07e;}
#hero-img {width: 100%; grid-column: 1/4;}
#hero-box {z-index: -1; width: 100%; grid-column: 1/4; grid-row: 1/2;}
#hero-msg {grid-column: 2/3; grid-row: 1/2; margin-top: 100px; margin: 100px auto; color: #edd9ae; font-size: x-large;}
#rbox, #hbox {display: grid; grid-template-columns: 2fr 1fr;}
p {grid-column: 1/2; grid-row: 2/3; font-family: "Noto Sans", Helvetica, sans-serif; letter-spacing: 1px; line-height: 30px; font-size: larger; color: #edd9ae; margin: 10px 15px;}
h2 {grid-column: 1/2; grid-row: 1/2; font-family: "Playpen Sans", "Noto Sans", sans-serif; color: #cea07e; margin: 0 5px;}
#rbox img, #hbox img {grid-column: 2/3; grid-row: 2/4; width: 100%; border-radius: 10px;}
body {background-color: #036d19;}
.rpage {background-color: #994636;}
header {background-color: #994636; letter-spacing: 0.1px; display: grid; grid-template-columns: 150px auto; margin-top: 0;}
footer {background-color: #994636; font-size: 1.2em; font-family: "Skranji", Helvetica, sans-serif; padding: 25px 50px; margin-top: 200px; display: flex; justify-content: space-around; align-items: center;}
footer p {color: #edd9ae;}
footer a {color: #edd9ae; text-decoration: none; letter-spacing: 0.2px; padding: 7px;}
footer a:hover {color: #cea07e; text-decoration: none; border: 2px solid #cea07e; letter-spacing: 0.2px; padding: 5px;}
.button {grid-column: 1/2; grid-row: 3/4; padding: 10px; text-align: center; width: 300px; text-decoration: none; margin: 0 auto; border: 5px solid #994636; background-color: #edd9ae; height: 20px; letter-spacing: 2px; font-size: larger; color: #036d19; border-radius: 20px;}
.rtitle {background-color: #994636; opacity: 90%; padding: 2px 45px 2px 45px; border: 5px dotted #cea07e; font-size: 200px;}
.htitle {background-color: #edd9ae; opacity: 90%; padding: 2px 45px 2px 45px; border: 5px dotted #036d19; font-size: 200px; color: #036d19;}
#intro {display: grid; grid-template-columns: 2fr 1fr;}
#intro p {grid-column: 1/2; grid-row: 1/2; text-align: left; font-size: large; letter-spacing: 2px;}
#intro img {grid-column: 2/3; grid-row: 1/3; margin: 0 auto;}
#first {grid-column: 1/2; grid-row: 2/5; line-height: 20px; color: #edd9ae; font-size: large;}
#first a {color: #edd9ae; text-decoration: none; font-size: medium; color: #edd9ae;}
.rpage a:hover {background-color: #cea07e;}
.rpage a {text-decoration: none; color: #edd9ae}
.rpage header nav a:hover {background-color: #036d19;}
.rpage footer a:hover {background-color: #994636; color: #cea07e; text-decoration: wavy; border: 2px solid #cea07e; letter-spacing: 0.2px; padding: 5px;}
.rpage h2 {color: #994636}
.hpage h2 {color: #036d19;}
#right {display: grid; grid-template-columns: 2fr 1fr 1fr;}
#rightb {grid-column: 2/3; grid-row: 1/3; margin: 0; text-align: left;}
#right img {grid-column: 1/2; grid-row: 1/2; margin: 130px 175px}
.rpage h3 {text-decoration: underline; color: #cea07e;}
main a {text-decoration: none; display: inline-block; padding: 8px 16px;}
main a:hover {background-color: #994636; color: #edd9ae;}
#void {background-color: #edd9ae; color: #994636; margin-top: 10px; border-radius: 20%; opacity: 60%;}
#void:hover {background-color: #edd9ae; color: #994636; margin-top: 10px; border-radius: 20%; opacity: 60%;}
#next {background-color: #edd9ae; color: #994636; border-radius: 20%; margin-top: 10px;}
#next:hover {background-color: #994636; color: #edd9ae;}
#previous {background-color: #edd9ae; color: #994636; border-radius: 20%;}
#previous:hover {background-color: #994636; color: #edd9ae;}
#intro2 {display: grid; grid-template-columns: 2fr 1fr 1fr;}
#intro2 img {margin: auto; padding-top: 15px;}
.rpage {color: #edd9ae;}
.hpage {color: #edd9ae;}
.hpage h3 {text-decoration: underline; color: #cea07e;}
.hpage a:hover {background-color: #994636;}
.hpage a {text-decoration: none; color: #edd9ae}
.hpage header nav a:hover {background-color: #036d19;}
.hpage footer a:hover {background-color: #994636; color: #cea07e; text-decoration: wavy; border: 2px solid #cea07e; letter-spacing: 0.2px; padding: 5px;}
form {margin: 150px auto; width: 400px; padding: 1em; border: 5px solid #cea07e; box-shadow: 5px 5px 10px #cea07e;}
#comment ul {list-style: none; color: #036d19; padding: 0; margin: 0;}
form li {margin-top: 1em; color: #036d19;}
label {display: inline-block; width: 90px; text-align: left; color: #edd9ae;}
input, textarea {font: 1em sans-serif; width: 300px; box-sizing: border-box; background-color: #994636; color: #edd9ae; border: 1px solid #cea07e;}
input:focus, textarea:focus {border-color: #edd9ae;}
textarea {vertical-align: top; height: 5em;}
button {margin-left: 0.5em; color: #edd9ae; background-color: #994636; border-radius: 10px;}
.moveDown {margin-top: 3em;}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    nav a:hover {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    .rtitle {
        font-size: 100px; 
        text-align: center;
    }
    .htitle {
        font-size: 100px;
        text-align: center;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #edd9ae;
    }
    }
    #background {
        display: none; 
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    section {
        padding: 10px; margin-top: 15px;
    }
    footer {
        margin-top: 25px;
    }