footer {background-color: steelblue; color: white; display: grid; grid-template-columns: 1fr 1fr 1fr; justify-items: center;}
#main {color: burlywood;}
h4 {color: steelblue;}
body {text-align: center;}